@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  display: grid; 
  background-color: #2d2d2d;
}

body {
  margin: auto;
}